services:
  tempo:
    image: grafana/tempo:latest
    container_name: tempo
    command:
      - -config.file=/etc/tempo/tempo.yaml
    ports:
      - "3200:3200"   # Tempo HTTP API / UI
      - "4317:4317"   # OTLP gRPC ingest
      - "4318:4318"   # OTLP HTTP ingest
    volumes:
      - ./config/tempo.yaml:/etc/tempo/tempo.yaml:ro
      - tempo_data:/var/tempo
    networks:
      - bridge
    restart: unless-stopped
  mimir:
    image: grafana/mimir:latest
    container_name: mimir
    command:
      - -config.file=/etc/mimir/mimir.yaml
      - -target=all
    ports:
      - "9009:9009"
    volumes:
      - ./config/mimir.yaml:/etc/mimir/mimir.yaml:ro
      - mimir_data:/data
    networks:
      - bridge
    restart: unless-stopped

  grafana:
    image: grafana/grafana
    container_name: grafana
    user: "0"
    ports:
      - "6969:3000"
    volumes:
      - grafana-storage:/var/lib/grafana
      - ./config/grafana/provisioning:/etc/grafana/provisioning:ro
    networks:
      - bridge
    restart: unless-stopped

  alloy:
    image: grafana/alloy:v1.11.3
    container_name: alloy
    hostname: alloy
    command:
      - run
      - --server.http.listen-addr=0.0.0.0:12345
      - --storage.path=/var/lib/alloy/data
      - /etc/alloy/config.alloy
    ports:
      - "12345:12345"
      - "4317:4317"   # OTLP gRPC ingest (external)
      - "4318:4318"   # OTLP HTTP ingest (external)
    volumes:
      - ./config/alloy.config:/etc/alloy/config.alloy
      - alloy_data:/var/lib/alloy/data
      - /:/rootfs:ro
      - /sys:/sys:ro
      - /run:/run:ro
      - /var/log:/var/log:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /var/lib/docker/:/var/lib/docker/:ro
      - /run/udev/data:/run/udev/data:ro
    networks:
      - bridge
    restart: unless-stopped

  loki:
    image: docker.io/grafana/loki:3.5.7
    container_name: loki
    command: "-config.file=/etc/loki/config.yaml"
    ports:
      - "3100:3100"
    volumes:
      - ./config/loki-config.yaml:/etc/loki/config.yaml:ro
      - data_loki:/loki:rw
    networks:
      - bridge
    restart: unless-stopped

volumes:
  grafana-storage:
    driver: local
  alloy_data:
    driver: local
  data_loki:
    driver: local
  mimir_data:
    driver: local
  tempo_data:
    driver: local

networks:
  bridge:
    external: false
