global:
  scrape_interval: 15s
remote_write:
  - url: http://mimir:9009/api/v1/push
scrape_configs:
  - job_name: "cadvisor"
    scrape_interval: 15s
    metrics_path: /metrics
    static_configs:
      - targets: ["cadvisor:9091"]
  - job_name: "node_exporter"
    scrape_interval: 15s
    static_configs:
      - targets: ["node-exporter:9100"]
  - job_name: "otel-collector"
    scrape_interval: 15s
    static_configs:
      - targets: [otel-collector:8888]
  - job_name: "otlp-app-metrics"
    scrape_interval: 15s
    static_configs:
      - targets: ["otel-collector:8889"]
  - job_name: "tempo"
    scrape_interval: 15s
    static_configs:
      - targets: ["tempo:3200"]
