server:
  http_listen_port: 3200

distributor:
  receivers:
    otlp:
      protocols:
        grpc:
          endpoint: 0.0.0.0:4317
        http:
          endpoint: 0.0.0.0:4318

ingester:
  lifecycler:
    ring:
      kvstore:
        store: inmemory
      replication_factor: 1
  trace_idle_period: 10s
  max_block_bytes: 1000000
  max_block_duration: 5m

metrics_generator:
  ring:
    kvstore:
      store: memberlist
  processor:
    span_metrics:
      dimensions: [service.name, http.method, http.status_code]
    service_graphs: {}
  storage:
    path: /tmp/tempo/generator
    remote_write:
      - url: http://mimir:9009/api/v1/push
        send_exemplars: true

compactor:
  compaction:
    block_retention: 24h

storage:
  trace:
    backend: local
    wal:
      path: /tmp/tempo/wal
    local:
      path: /tmp/tempo/blocks

query_frontend:
  search:
    max_duration: 0s
overrides:
  metrics_generator_processors: [span-metrics, service-graphs, local-blocks]

memberlist:
  abort_if_cluster_join_fails: false
  bind_addr:
    - 0.0.0.0
  bind_port: 7946
  join_members:
    - tempo
    - tempo-metrics-generator
