apiVersion: 1

datasources:
  - name: Mimir
    type: prometheus
    uid: mimir
    access: proxy
    # Temporarily point to Prometheus to ensure APM works even if Mimir ingestion is down
    url: http://prometheus:9090
    isDefault: false
  - name: Loki
    type: loki
    uid: loki
    access: proxy
    url: http://loki:3100
  - name: Tempo
    type: tempo
    uid: tempo
    access: proxy
    url: http://tempo:3200
  - name: Local Prometheus
    type: prometheus
    uid: prom
    access: proxy
    url: http://prometheus:9090
    isDefault: true
