global:
  scrape_interval: 55s
scrape_configs:
  - job_name: "cadvisor"
    scrape_interval: 55s
    metrics_path: /metrics
    static_configs:
      - targets: ["alloy:9091"]
  - job_name: "node_exporter"
    scrape_interval: 55s
    static_configs:
      - targets: ["alloy:9100"]
