apiVersion: 1
datasources:
  - name: Mimir
    uid: mimir
    type: prometheus
    access: proxy
    url: http://mimir:9009/prometheus
    isDefault: true
    jsonData:
      httpMethod: POST
  - name: Tempo
    uid: tempo
    type: tempo
    access: proxy
    url: http://tempo:3200
    jsonData:
      nodeGraph:
        enabled: true
      search:
        hide: false
      tracesToMetrics:
        datasourceUid: mimir
        # Map Tempo span tags to Prometheus label keys
        tags:
          - key: service.name
            value: service
          - key: span.kind
            value: span_kind
        # Provide explicit RED queries against Tempo spanmetrics in Mimir
        queries:
          - name: Rate
            query: |
              sum by (service) (rate(traces_spanmetrics_latency_count{$$__tags}[5m]))
          - name: Errors
            query: |
              sum by (service) (rate(traces_spanmetrics_latency_count{$$__tags,status_code!="STATUS_CODE_OK"}[5m]))
          - name: Duration p95
            query: |
              histogram_quantile(0.95,
                sum by (le) (rate(traces_spanmetrics_latency_bucket{$$__tags}[5m]))
              )
      tracesToLogsV2:
        datasourceUid: loki
      serviceMap:
        datasourceUid: mimir
  - name: Loki
    uid: loki
    type: loki
    access: proxy
    url: http://loki:3100
